@{ ViewData["Title"] = "Filtrado de PRoductos"; }
<div class="container">
    <div class="row" style="border: 2px solid #000000; padding: 10px; border-radius: 5px;">
        <div class="col-sm-6">
            <label class="form-label">Rubro</label>
            <select id="cborubro" class="form-select" name="idRubro" onchange="CargarTipos(this.value)">
                <option value="">Seleccione un Rubro</option>
            </select>
        </div>

        <div class="col-sm-6">
            <label class="form-label">Tipo</label>
            <div class="mt-0">
                <select id="cbotipo" class="form-select" name="idTipo" onchange="CargarProductosporTipo(this.value)">
                </select>
            </div>
        </div>
    </div>
    <p>O</p>
    <div class="row mt-2">
        <div class="col-sm-6">
            <label class="form-label">Codigo ID</label>
            <select id="cbocodigo" class="form-select" name="idCodigo" onchange="CargarProductosporCI(this)">
                <option value="">Seleccione un Codigo ID</option>
            </select>
        </div>
        <div class="col-sm-6 text-center mt-2" style="align-content: center;">
            <button type="button" class="btn btn-primary mx-auto" id="BtnLimpiar" onclick="LimpiarSelects()">
                Limpiar busqueda
            </button>
        </div>
    </div>
</div>