<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup style="color: white;">
        <h1>Usted no posee permiso.</h1>
        <h3>Comunicarse con el Area correspondiente para poder ejecutar su operación.</h3>
    </hgroup>
</body>
</html>
